# Xcode
build/
DerivedData/
*.xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# Secrets
HandController/Secrets.plist

# OS
.DS_Store
*.swp
*~
